<div class="comp-empleado">
  <p-panel header="Componente Empleado">
  <form>
    <label class="pr-5">Nombre</label>
    <input [ngModelOptions]="{standalone: true}" type="text" pInputText [(ngModel)]="empleadoEntidad.nombre" />
    <label class="pr-5">Edad</label>
    <input [ngModelOptions]="{standalone: true}" type="text" pInputText [(ngModel)]="empleadoEntidad.edad" />
    <p-button type="button" (click)="agregarEmpleado()" label="Cancelar"></p-button>
    <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
  </form>
  </p-panel>

</div>

